<ul class="list-group">
  <li class="list-group-item" *ngFor="let weapon of weapons">
    <div class="d-flex flex-nowrap row">
      <div class="d-flex align-items-start flex-column ml-1" style="width: 32.5%; flex: 0 0 auto;">
        <input class="form-control" type="text" [value]="weapon.name"/>
        <small class="text-black-50 xx-small">Weapon</small>
      </div>
      <div class="d-flex align-items-start flex-column ml-1" style="width: 30%; flex: 0 0 auto;">
        <input class="form-control" type="text" [value]="getAttackString(weapon.weaponBonus)"/>
        <small class="text-black-50 xx-small">Attack Bonus</small>
      </div>
      <div class="d-flex align-items-start flex-column ml-1" style="width: 15%; flex: 0 0 auto;">
        <input class="form-control" type="text" [value]="weapon.damage"/>
        <small class="text-black-50 xx-small">Damage</small>
      </div>
      <div class="d-flex align-items-start flex-column flex-grow-1 ml-1 mr-1">
        <input class="form-control" type="text" [value]="weapon.critical"/>
        <small class="text-black-50 xx-small">Critical</small>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-start flex-column ml-1" style="width: 20%; flex: 0 0 auto;">
        <input class="form-control" type="text" *ngIf="weapon.rangeIncrement!=null" value="{{ weapon.rangeIncrement + ' ft.' }}"/>
        <input class="form-control" type="text" *ngIf="weapon.rangeIncrement===null" value="-"/>
        <small class="text-black-50 xx-small">Range Increment</small>
      </div>
      <div class="d-flex align-items-start flex-column ml-1" style="width: 6.35em; flex: 0 0 auto;">
        <input class="form-control" type="text" [value]="weapon.damageType"/>
        <small class="text-black-50 xx-small">Type</small>
      </div>
      <div class="d-flex align-items-start flex-column flex-grow-1 ml-1 mr-1">
        <input class="form-control" type="text" value="{{ getAmmunitionString(weapon.id) || '-'}}"/>
        <small class="text-black-50 xx-small">Notes/Ammunition</small>
      </div>
    </div>
  </li>
</ul>
