<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Roboto', sans-serif;">

  <a class="navbar-brand"
     [routerLink]="['/']"
     [routerLinkActive]="['active']"
     [routerLinkActiveOptions]="{ exact: true }">
    <img class="brand-img" src="assets/img/DnD_Logo.png" alt="dnd logo" />
  </a>

  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01"
       [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/characters']">Characters</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/parties']">Parties</a>
      </li>
    </ul>

    <div class="d-flex align-items-stretch" *ngIf="currentUser !== undefined && currentUser !== null; else showLogin">
      <div class="d-flex align-self-center ml-auto mr-2">
        <a class="text-white" [routerLink]="['/profile']" [routerLinkActive]="['active']">
          <img class="rounded-circle"
               style="border: 2px solid #ccc; height: 2em; width: 2em;"
               src="{{ currentUser.photoURL }}"
               title="{{ currentUser.email }}">
          <span class="mx-1">{{ currentUser.displayName }}</span>
        </a>
      </div>
      <button (click)="this.logout()" class="btn btn-sm btn-secondary">Logout</button>
    </div>
    <ng-template #showLogin>
        <div class="input-group">
          <!--
          <input type="text" class="form-control form-control-sm" placeholder="Email" aria-label="Email Address">
          <input type="password" class="form-control form-control-sm" placeholder="Password" aria-label="Password">
          -->
          <button (click)="this.login()" class="btn btn-sm btn-secondary ml-auto" type="submit" title="Login with your Google Account"><i class="fab fa-google"></i> Login</button>
        </div>
    </ng-template>

  </div>

</nav>
