<app-navbar></app-navbar>
<div class="container pb-3" style="font-family: 'Patua One', cursive;">

  <div>
    <h2 class="mt-3" style="font-family: 'Fredericka the Great', cursive;">What are you going to be?</h2>
    <p class="text-muted" style="font-family: 'Special Elite', cursive;">Your character’s class is their profession or vocation determining: combat prowess, magical ability, skills, and more...</p>
  </div>

  <!-- Class, Alignment, Religion -->
  <div class="d-flex d-block">

    <div class="d-inline-flex w-50 mb-3 pr-1">
      <div class="flex-fill">
        <div class="align-content-center ">
          <label for="typeahead-focus">Class:</label>
          <div class="btn btn-outline-info btn-sm ml-1 py-0 disabled">
            <span class="small">Favored Class: {{ favoredClass }}</span>
          </div>
        </div>
        <input
          class="form-control input"
          type="text"
          id="typeahead-focus"
          placeholder="What is your character class?"
          [(ngModel)]="typeAheadClass"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [resultFormatter]="formatMatches"
          [inputFormatter]="formatMatches"
          (focus)="focus$.next($event.target.value)"
          (click)="click$.next($event.target.value)"
          (selectItem)="setSelectedClass($event.item)"
          #instance="ngbTypeahead"
        />
        <ng-template #rt let-r="result" let-t="term">
          <img [src]="r['icon']" class="mr-2" style="width: 1.5em">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>
      </div>
    </div>

    <div class="w-100 pl-1">

      <div class="d-inline-flex w-25 pr-1">
        <div class="flex-fill">
          <div class="form-group" *ngIf="characterService.tempCharacter.alignment !== null; else showSelectAlignmentBtn">
            <label for="alignment">Alignment:</label>
            <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                    title="Select your characters alignment."
                    (click)="openSelectAlignmentModal()">
              <i class="fas fa-undo"></i><span class="small ml-1">Change</span>
            </button>
            <div class="d-flex">
              <div class="flex-fill">
                <input type="text" class="form-control" id="alignment"
                       [value]="characterService.tempCharacter.alignment"
                       readonly required>
              </div>
            </div>
          </div>
          <ng-template #showSelectAlignmentBtn>
            <div class="form-group">
              <label for="alignment">Alignment:</label>
              <button class="btn btn-block" [ngClass]=" characterService.tempCharacter.alignment === null ? 'btn-primary' : '' "
                      (click)="openSelectAlignmentModal()">
                Select Alignment <i class="fas fa-balance-scale"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="d-inline-flex w-75 pl-1">
        <div class="flex-fill">
          <div class="form-group" *ngIf="characterService.tempCharacter.religion.length !== 0; else showSelectReligionBtn">
            <label for="alignment">Religion:</label>
            <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                    title="Select your characters Religion or Patron Deity."
                    (click)="openSelectReligionModal()">
              <i class="fas fa-undo"></i><span class="small ml-1">Change Religion</span>
            </button>
            <div class="d-flex">
              <div class="flex-fill">
                <input type="text" class="form-control" id="religion"
                       [value]="getReligionText()"
                       readonly required>
              </div>
            </div>
          </div>
          <ng-template #showSelectReligionBtn>
            <div class="form-group">
              <label for="alignment">Religion:</label>
              <button class="btn btn-block" [ngClass]=" characterService.tempCharacter.alignment === null ? 'btn-secondary'
                                                        : characterService.tempCharacter.religion.length === 0 ? 'btn-primary'
                                                        : '' "
                      (click)="openSelectReligionModal()">
                Select Religion(s) <i class="fas fa-church"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>

    </div>

  </div>

  <!-- Height, Weight, Age, HP -->
  <div class="d-flex d-block">

    <div class="d-inline-flex w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="heightFeet">Height:</label>
          <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                  title="Generate a random character aged based on the selected race."
                  (click)="randomHeight()">
            <i class="fas fa-random"></i><span class="small ml-1">Random</span>
          </button>
          <div class="d-flex">
            <div class="d-inline-flex w-50 mr-1">
              <div class="input-group">
              <input type="number" class="form-control text-right" id="heightFeet" min="0"
                     [(ngModel)]="characterService.tempCharacter.height.feet"
                     (ngModelChange)="heightFeetChanged()" title="Feet" required>
                <div class="input-group-append">
                  <span class="input-group-text">&apos;</span>
                </div>
              </div>
            </div>
            <div class="d-inline-flex w-50 ml-1">
              <div class="input-group">
                <input type="number" class="form-control text-right" id="heightInches" [min]="heightInchesMin" max="12"
                       [(ngModel)]="characterService.tempCharacter.height.inches"
                       (ngModelChange)="heightInchesChanged()" title="Inches" required>
                <div class="input-group-append">
                  <span class="input-group-text">&quot;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-flex w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="weight">Weight:</label>
          <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                  title="Generate a random character aged based on the selected race."
                  (click)="randomWeight()">
            <i class="fas fa-random"></i><span class="small ml-1">Random</span>
          </button>
          <div class="d-inline-flex w-100">
            <div class="input-group">
              <input type="number" class="form-control text-right" id="weight" min="0" max="999999"
                     [(ngModel)]="characterService.tempCharacter.weight"
                     (ngModelChange)="weightHasChanged()" title="Pounds" required>
              <div class="input-group-append">
                <span class="input-group-text">lbs.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-flex w-25">
      <div class="mr-2">
        <div class="form-group">
          <div class="d-inline w-50">
            <label for="age">Age:</label>
            <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                    title="Generate a random character aged based on the selected race."
                    (click)="generateNewRandomAge()">
              <i class="fas fa-random"></i><span class="small ml-1 mr-auto">Random</span>
            </button>
          </div>
          <div class="d-inline-flex w-50">
            <span class="d-inline-flex badge small ml-auto mr-3"
                  [ngClass]="
                    ageCategory === 'venerable' ? 'badge-danger' :
                    ageCategory === 'old' ? 'badge-warning' :
                    ageCategory === 'middleAge' ? 'badge-info' :
                    'badge-success'"
                  style="font-family: 'Roboto', sans-serif;" title="Age Category">
              {{
              ageCategory === 'venerable' ? 'Venerable Age' :
              ageCategory === 'old' ? 'Old Aged' :
              ageCategory === 'middleAge' ? 'Middle Aged' :
              'Adulthood'
              }}
            </span>
          </div>
          <div class="d-inline-flex w-100">
            <div class="input-group">
              <input type="number" class="form-control text-right" id="age" min="0" max="999999"
                     [(ngModel)]="characterService.tempCharacter.age"
                     (ngModelChange)="ageHasChanged()" title="Age" required>
              <div class="input-group-append">
                <span class="input-group-text">Years</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-flex w-25">
      <div class="mr-2 w-50">
        <div class="form-group">
          <label class="" for="hitPoints">HP:</label>
          <div class="">
            <input type="text" class="form-control text-center bg-white" id="hitPoints" min="0" max="999"
                   [value]="this.selectedClass !== undefined ? characterService.tempCharacter.hitPoints : '-'"
                   title="Hit Points" required disabled>
          </div>
        </div>
      </div>
      <div class="mr-2 w-50">
        <div class="">
          <label class="" for="hitDie">Hit Die:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">d</span>
            </div>
            <input type="text" class="form-control text-center bg-light" id="hitDie" min="4" max="12"
                   [value]="this.selectedClass !== undefined ? characterService.tempCharacter.hitDie[0].hitDie : '-'"
                   title="HitDie" required disabled>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- BAB, Saves -->
  <div class="d-flex d-block">
    <div class="w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="bab">Base Attack Bonus:</label>
          <input type="text" class="form-control text-center bg-light" id="bab"
                 [value]="characterService.tempCharacter.baseAttackBonus >= 0 ? '+' + characterService.tempCharacter.baseAttackBonus : characterService.tempCharacter.baseAttackBonus"
                 title="Base Attack Bonus" disabled>
        </div>
      </div>
    </div>
    <div class="w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="fortSave">Fort:</label>
          <input type="text" class="form-control text-center bg-light" id="fortSave"
                 [value]="characterService.tempCharacter.saves.fort >= 0 ? '+' + characterService.tempCharacter.saves.fort : characterService.tempCharacter.saves.fort"
                 title="Fortitude Save" disabled>
        </div>
      </div>
    </div>
    <div class="w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="refSave">Ref:</label>
          <input type="text" class="form-control text-center bg-light" id="refSave"
                 [value]="characterService.tempCharacter.saves.ref >= 0 ? '+' + characterService.tempCharacter.saves.ref : characterService.tempCharacter.saves.ref"
                 title="Reflex Save" disabled>
        </div>
      </div>
    </div>
    <div class="w-25">
      <div class="mr-2">
        <div class="form-group">
          <label for="willSave">Will:</label>
          <input type="text" class="form-control text-center bg-light" id="willSave"
                 [value]="characterService.tempCharacter.saves.will >= 0 ? '+' + characterService.tempCharacter.saves.will : characterService.tempCharacter.saves.will"
                 title="Will Save" disabled>
        </div>
      </div>
    </div>
  </div>

  <!-- Looks, Personality, Background -->
  <div class="d-flex d-block">
    <div class="w-50">
      <div class="mr-2">
        <div class="form-group">
          <label for="looks">Looks:</label>
          <textarea type="text" class="form-control text-left" style="font: 0.8em 'Roboto', sans-serif; min-height: 10em;" id="looks"
                   [(ngModel)]="characterService.tempCharacter.looks" title="Looks"
                    placeholder="Decide what your character looks like. Is your character right- or left-handed? You can use your character’s looks to tell something about their personality and background"></textarea>
        </div>
      </div>
    </div>
    <div class="w-50">
      <div class="mr-2">
        <div class="form-group">
          <label for="personality">Personality:</label>
          <textarea type="text" class="form-control text-left" style="font: 0.8em 'Roboto', sans-serif; min-height: 10em;" id="personality"
                    [(ngModel)]="characterService.tempCharacter.personality" title="Personality"
                    placeholder="Decide how your character acts. What does they like? what do they want out of life? what scares them? and what makes them angry? Your character’s personality can change over time."></textarea>
        </div>
      </div>
    </div>
    <div class="w-50">
      <div class="mr-2">
        <div class="form-group">
          <label for="personality">Background:</label>
          <textarea type="text" class="form-control text-left" style="font: 0.8em 'Roboto', sans-serif; min-height: 10em;" id="background"
                    [(ngModel)]="characterService.tempCharacter.background" title="Background"
                    placeholder="Decide what your character’s life has been like up until now. How did they decide to be an adventurer? How did they acquire her class? How did they get their starting equipment? What’s the best/worst thing that’s ever happened to them?"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row-reverse mt-3">
    <button class="btn" [ngClass]="readyToPickSkillsAndFeats ? 'btn-primary' : 'btn-dark disabled'"
            [autoClose]="'outside'"
            placement="left"
            triggers="manual"
            popoverClass=""
            (click)="selectSkillsAndFeats()"
            popoverTitle="{{ !readyToPickSkillsAndFeats ? 'Missing Fields' : '' }}"
            ngbPopover="{{ !readyToPickSkillsAndFeats ? 'Select your characters class.' : '' }}"
            #popover="ngbPopover">
      Next: Select Skills &amp; Feats <i class="fas fa-users-cog"></i>
    </button>
  </div>

</div>
