<div class="container mt-3">
  <div class="row">

    <div *ngFor="let party of parties">

      <div class="card">
        <h5 class="card-header">
          {{ party.name }}
        </h5>
        <div class="card-body">
          <p class="card-text text-muted">{{ party.description }}</p>
          <div>
            <div class="d-inline-flex text-center" *ngFor="let memberReference of party.members">

              <div class="m-3" *ngIf=" getCharacter(memberReference) !== undefined ">
                <img class="rounded-circle"
                     style="border: 2px solid #ccc; height: 4em; width: 4em;"
                     src="{{ getCharacter(memberReference).imageUrl }}">
                <span class="d-block">{{ getCharacter(memberReference).characterName }}</span>
                <div *ngFor="let class of getCharacter(memberReference).classes">
                  <span class="d-block text-info" style="font-size: small;">{{ class.className }} {{ class.level }}</span>
                </div>
                <button class="btn btn-warning btn-sm mt-1"
                        (click)="editCharacter(memberReference)"
                        *ngIf="authService.getCurrentUser() !== undefined && getCharacter(memberReference).player !== undefined &&
                               authService.getCurrentUser() !== null && getCharacter(memberReference).player !== null &&
                               authService.getCurrentUser() === getCharacter(memberReference).player">
                  View
                </button>
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>

    </div>

  </div>
</div>
