<app-navbar></app-navbar>
<div class="container pb-3" style="font-family: 'Patua One', cursive;">

  <!--
  font-family: 'Fredericka the Great', cursive;
  font-family: 'MedievalSharp', cursive;
  font-family: 'Patua One', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Special Elite', cursive;
  -->


  <div>
    <h2 class="mt-3" style="font-family: 'Fredericka the Great', cursive;">Who are you?</h2>
  </div>

  <div>

    <div class="form-group">
      <label for="playerName">Player Name:</label>
      <input type="text" class="form-control" id="playerName" placeholder="What is your name?"
             [(ngModel)]="playerName" (ngModelChange)="checkPlayerIsReadyToPickClass()" required>
    </div>

    <div class="row">
      <div class="col-9">

        <div class="form-group">
          <label for="characterName">Character Name:</label>
          <button class="d-inline-flex align-items-center btn btn-outline-info btn-sm ml-1 py-0"
                  title="Generate a random character name based on the selected race and gender."
                  (click)="generateRandomName()">
            <i class="fas fa-random"></i><span class="small ml-1">Random Name</span>
          </button>
          <input type="text" class="form-control" id="characterName" placeholder="What is your characters name?"
                 [(ngModel)]="characterName" (ngModelChange)="checkPlayerIsReadyToPickClass()" required>
        </div>

      </div>
      <div class="col-3">

        <fieldset class="form-group">
          <label for="radioGenderMale">Gender:</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="radioGender" id="radioGenderMale" value="Male" checked=""
                     (click)="radioBtnMale()">
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="radioGender" id="radioGenderFemale" value="Female"
                     (click)="radioBtnFemale()">
              Female
            </label>
          </div>
        </fieldset>

      </div>
    </div>

  </div>

  <div>
    <h5 class="mt-3" style="font-family: 'Fredericka the Great', cursive;">Are you a strong brutish thug? A studious researcher? A light and nimble ninja?</h5>
    <h6 class="text-muted" style="font-family: 'Special Elite', cursive;">Tell us more about your character&apos;s abilities and race, and we will pre-populate what we can.</h6>
  </div>

  <app-ability-scores-new (playerHasRolledAllStatsChanged)="playerHasRolledAllStatsChanged($event)"
                      (selectedRaceChanged)="selectedRaceChangedHandler($event)"
                      (playerHasSelectedRaceChanged)="playerHasSelectedRaceChangedHandler($event)"
                      (totalAbilityScoresChanged)="totalAbilityScoresChangedHandler($event)" ></app-ability-scores-new>

  <div class="d-flex flex-row-reverse mt-3">
    <button class="btn" [ngClass]="readyToPickClass ? 'btn-primary' : 'btn-dark disabled'"
            [autoClose]="'outside'"
            placement="left"
            triggers="manual"
            popoverClass=""
            (click)="selectCharacterClass()"
            popoverTitle="{{ !readyToPickClass ? 'Missing Fields' : '' }}"
            ngbPopover="{{ playerName.length === 0 ? '\'Player Name\' cannot be blank.' :
              characterName.length === 0 ? '\'Character Name\' cannot be blank.' :
              !playerHasSelectedRace ? 'Select your characters race.' :
              !playerHasRolledAllStats ? 'Roll your characters ability scores.' : '' }}"
            #popover="ngbPopover">
      Next: Select Character Class <i class="fas fa-hat-wizard"></i>
    </button>
  </div>

</div>
