<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Party Tracker</h1>
    <p class="lead">This is a site for me to track my DnD groups stats as they play through my campaign <i>'<a class="text-muted" href="https://kingsway-role-playing-group.wikia.com/wiki/The_Great_Arcana_Totality">The Great Arcana Totality</a>'</i>.</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- PARTY ADMIN -->
    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">Adventuring Party Admin</div>
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/originals/b4/85/d8/b485d8f6692c4c78ba5d96bf5b943e1e.jpg">
        </div>
        <div class="card-body">
          <p class="text-muted">
            <small>Funtioning: </small>
            <span class="badge badge-danger">Create</span>
            <span class="badge badge-danger">View</span>
            <span class="badge badge-danger">Update</span>
            <span class="badge badge-danger">Delete</span>
          </p>
          <p class="card-text">The administration menu for creation, viewing, updating and deletion of adventuring parties and its composite characters.</p>
          <a routerLink="/party" class="btn btn-secondary btn-block">Party Admin</a>
        </div>
      </div>
    </div>

    <!-- GEAR/ITEM ADMIN -->
    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">Equipment/Inventory Admin</div>
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/564x/5a/23/a5/5a23a5c5c39f565867703af79d7ce374.jpg">
        </div>
        <div class="card-body">
          <p class="text-muted">
            <small>Funtioning: </small>
            <span class="badge badge-danger">Create</span>
            <span class="badge badge-danger">View</span>
            <span class="badge badge-danger">Update</span>
            <span class="badge badge-danger">Delete</span>
          </p>
          <p class="card-text">The administration menu for creation, viewing, updating and deletion of magic items, equipment, treasure, currency and other loot.</p>
          <a routerLink="/items" class="btn btn-secondary btn-block">Item Admin</a>
        </div>
      </div>
    </div>

    <!-- SPELL ADMIN -->
    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">Spellcasting Admin</div>
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/564x/c5/9f/dd/c59fddb2d57e6c456724e30867493fd7.jpg">
        </div>
        <div class="card-body">
          <p class="text-muted">
            <small>Funtioning: </small>
            <span class="badge badge-danger">Create</span>
            <span class="badge badge-danger">View</span>
            <span class="badge badge-danger">Update</span>
            <span class="badge badge-danger">Delete</span>
          </p>
          <p class="card-text">The administration menu for creation, viewing, updating and deletion of spells and spell-like abilities, extraordinary abilities, and supernatural abilities.</p>
          <a routerLink="/spells" class="btn btn-secondary btn-block">Spells Admin</a>
        </div>
      </div>
    </div>

  </div>
</div>
