<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Party Tracker</h1>
    <p class="lead">Before we can go any further, what kind of player are you? Once we know, we can start the process of making your character or campaign.</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-1">
    </div>

    <!-- PLAYER -->
    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">I'm a Player</div>
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/originals/b4/85/d8/b485d8f6692c4c78ba5d96bf5b943e1e.jpg">
        </div>
        <div class="card-body">
          <p class="card-text"></p>
          <a [routerLink]="['/character/new']" [routerLinkActive]="['active']" class="btn btn-success btn-block">Create A New Character</a>
        </div>
      </div>
    </div>

    <div class="col-sm-1">
    </div>

    <!-- DM -->
    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">I'm the Dungeon Master</div>
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/564x/5a/23/a5/5a23a5c5c39f565867703af79d7ce374.jpg">
        </div>
        <div class="card-body">
          <p class="card-text"></p>
          <a [routerLink]="['/party']" [routerLinkActive]="['active']" class="btn btn-warning btn-block">Manage The Adventuring Party</a>
        </div>
      </div>
    </div>

    <div class="col-sm-1">
    </div>

  </div>
</div>
