<div class="jumbotron">
  <div class="container">
    <h1 class="display-4" style="font-family: 'Fredericka the Great', cursive;">D<i class="fab fa-d-and-d"></i>D Party Tracker</h1>
    <p class="lead">Before we can go any further, what kind of role player are you?</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- PLAYER -->
    <div class="col-sm">
      <div class="card border-success bg-light mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/originals/b4/85/d8/b485d8f6692c4c78ba5d96bf5b943e1e.jpg">
        </div>
        <div class="card-body p-2">
          <p class="card-text">
            <a [routerLink]="['/character/new']" [routerLinkActive]="['active']" class="btn btn-success btn-block">Player Character</a>
          </p>
        </div>
      </div>
    </div>

    <!-- DM -->
    <div class="col-sm">
      <div class="card border-warning bg-light mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/564x/5a/23/a5/5a23a5c5c39f565867703af79d7ce374.jpg">
        </div>
        <div class="card-body p-2">
          <p class="card-text">
            <a [routerLink]="['/parties']" [routerLinkActive]="['active']" class="btn btn-warning btn-block">Dungeon Master</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
