<div class="container pb-3">

  <h2 class="mt-3" style="font-family: 'Fredericka the Great', cursive;">Character Sheet</h2>

  <ng-template #showLoading>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <mat-progress-spinner color="accent" diameter="25" mode="indeterminate"></mat-progress-spinner>
      </div>
      <div class="align-self-center">
        <span>Loading Character</span>
      </div>
    </div>
  </ng-template>

  <ng-template #showInvalidCharacter>
    <div class="alert alert-danger" role="alert">
      No character found / Invalid Character ID
    </div>
    <div class="d-flex justify-content-center">
      <div class="card border-success bg-light mb-3" style="min-width: 50%;">
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://i.pinimg.com/originals/b4/85/d8/b485d8f6692c4c78ba5d96bf5b943e1e.jpg">
        </div>
        <div class="card-body p-2">
          <p class="card-text">
            <a [routerLink]="['/character/new']" [routerLinkActive]="['active']" class="btn btn-success btn-block">Create a New Character!</a>
          </p>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="validCharacter !== undefined; else showLoading">

    <div class="row">
      <div class="character-attribute col-md-6 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="characterName" value="{{ character.characterName }}" placeholder="Character Name">
        <small class="text-black-50 x-small">Character Name</small>
      </div>
      <div class="character-attribute col-md-6 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="playerName" value="{{ character.playerName }}" placeholder="Player Name">
        <small class="text-black-50 x-small">Player Name</small>
      </div>
    </div>

    <div class="row">
      <div class="character-attribute col-md-5 col-sm-10 mb-1">
        <input class="form-control form-control-sm" type="text" id="class" value="{{ getCharClassAndLevelString(character) }}" placeholder="Class">
        <small class="text-black-50 x-small">Class &amp; Level</small>
      </div>
      <div class="character-attribute col-md-1 col-sm-2 mb-1">
        <input class="form-control form-control-sm" type="text" id="ecl" value="{{ character.ecl }}" placeholder="ECL">
        <small class="text-black-50 x-small">ECL</small>
      </div>
      <div class="character-attribute col-md-2 col-sm-4 mb-1">
        <input class="form-control form-control-sm" type="text" id="raceTemplate" value="{{ character.raceId }}" placeholder="Race/Template">
        <small class="text-black-50 x-small">Race/Template</small>
      </div>
      <div class="character-attribute col-md-2 col-sm-4 mb-1">
        <input class="form-control form-control-sm" type="text" id="size" value="{{ character.size }}" placeholder="Size">
        <small class="text-black-50 x-small">Size</small>
      </div>
      <div class="character-attribute col-md-2 col-sm-4 mb-1">
        <input class="form-control form-control-sm" type="text" id="gender" value="{{ character.gender }}" placeholder="Gender">
        <small class="text-black-50 x-small">Gender</small>
      </div>
    </div>

    <div class="row">
      <div class="character-attribute col-md-3 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="alignment" value="{{ character.alignment }}" placeholder="Alignment">
        <small class="text-black-50 x-small">Alignment</small>
      </div>
      <div class="character-attribute col-md-3 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="religionPatronDeity" value="{{ character.religion }}" placeholder="Religion/Patron Deity">
        <small class="text-black-50 x-small">Religion/Patron Deity</small>
      </div>
      <div class="character-attribute col-lg-1 col-md-2 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="height" value="{{ character.height[0] }}&#39; {{ character.height[1] }}&quot;" placeholder="Height">
        <small class="text-black-50 x-small">Height</small>
      </div>
      <div class="character-attribute col-lg-1 col-md-2 col-sm-6 mb-1">
        <input class="form-control form-control-sm" type="text" id="weight" value="{{ character.weight }}" placeholder="Weight">
        <small class="text-black-50 x-small">Weight</small>
      </div>
      <div class="character-attribute col-lg-4 col-md-12 mb-1">
        <input class="form-control form-control-sm" type="text" id="looks" value="{{ character.looks }}" placeholder="">
        <small class="text-black-50 x-small">Looks</small>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 mb-1">
        <app-ability-scores [baseAbilityScores]="character.totalAbilityScores"></app-ability-scores>
      </div>
      <div class="col-lg-6 col-md-12 mb-1">
        <app-hit-points [totalHitPoints]="character.hitPoints"></app-hit-points>
        <app-combat-options [bab]="character.baseAttackBonus" [weapons]="character.weaponsId"></app-combat-options>
      </div>
    </div>

  </div>

</div>
