<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Page Not Found!</h1>
    <p class="lead">We live in a world of uncertainty. But certainly, the page you were looking for isn’t here.<br/>
      Perhaps this halfling has stolen it and hidden it in another place.<br/>
      Try searching for what you were looking for in another realm.</p>
    <a href="/" class="btn btn-primary btn-lg">GO TO HOMEPAGE</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
      </div>
    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-1by1">
        <img class="embed-responsive-item" src="https://www.dndbeyond.com/Content/1-0-510-0/Skins/Waterdeep/images/errors/404.png" />
      </div>
    </div>
    <div class="col-sm">
      <div class="text-center">
      </div>
    </div>
  </div>
</div>
