<h3 class="mt-3">Ability Scores</h3>
<div class="d-flex flex-nowrap row mt-1" *ngFor="let abbr of bindedAbbreviationKeys">

  <div class="d-flex align-items-start flex-column ml-3" style="width: 3.5em; flex: 0 0 auto;">
    <h4 class="pt-1 pb-0 mb-0">{{ abbr }}</h4>
    <small class="text-black-50 xx-small">{{ abilityScoreAbbr.abbreviation.get(abbr) }}</small>
  </div>

  <div class="d-flex align-items-center flex-column ml-1">
    <div [ngSwitch]="abbr">
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'STR'" [value]="totalAbilityScores.strength" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'DEX'" [value]="totalAbilityScores.dexterity" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'CON'" [value]="totalAbilityScores.constitution" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'INT'" [value]="totalAbilityScores.intelligence" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'WIS'" [value]="totalAbilityScores.wisdom" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'CHA'" [value]="totalAbilityScores.charisma" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Total" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchDefault [value]="">
    </div>
    <small class="text-black-50 xx-small">Total</small>
  </div>

  <div class="d-flex align-items-center flex-column ml-1" style="margin-top: 0.35em; width: 2.5em; flex: 0 0 auto;">
    <div [ngSwitch]="abbr">
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'STR'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.strength) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'DEX'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.dexterity) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'CON'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.constitution) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'INT'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.intelligence) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'WIS'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.wisdom) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchCase="'CHA'" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier">{{ getAbilityModifier(totalAbilityScores.charisma) }}</span>
      <span class="badge badge-pill badge-secondary" *ngSwitchDefault title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Modifier"></span>
    </div>
  </div>

  <div class="d-flex align-items-center flex-column ml-1 math-sign">
    <h6 class="pt-2 pb-2 mb-0">=</h6>
  </div>

  <div class="d-flex align-items-center flex-column ml-1">
    <div [ngSwitch]="abbr">
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'STR'" [value]="baseAbilityScores.strength" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'DEX'" [value]="baseAbilityScores.dexterity" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'CON'" [value]="baseAbilityScores.constitution" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'INT'" [value]="baseAbilityScores.intelligence" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'WIS'" [value]="baseAbilityScores.wisdom" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchCase="'CHA'" [value]="baseAbilityScores.charisma" title="{{ abilityScoreAbbr.abbreviation.get(abbr) }} Base Score + Racial Bonuses" readonly>
      <input class="form-control form-control pt-2 pb-2 mb-0" *ngSwitchDefault [value]="">
    </div>
    <small class="text-black-50 xx-small">Base Score + Racial</small>
  </div>

  <div class="d-flex align-items-center flex-column ml-1 math-sign">
    <h6 class="pt-2 pb-2 mb-0">+</h6>
  </div>

  <div class="d-flex align-items-center flex-column ml-1">
    <input class="form-control form-control pt-2 pb-2 mb-0" title="Enhancement Bonuses">
    <small class="text-black-50 xx-small">Enhancement Bonuses</small>
  </div>

  <div class="d-flex align-items-center flex-column ml-1 math-sign">
    <h6 class="pt-2 pb-2 mb-0">+</h6>
  </div>

  <div class="d-flex align-items-center flex-column ml-1">
    <input class="form-control form-control pt-2 pb-2 mb-0" title="Misc Bonuses">
    <small class="text-black-50 xx-small">Misc Bonuses</small>
  </div>

  <div class="d-flex align-items-center flex-column ml-1 math-sign">
    <h6 class="pt-2 pb-2 mb-0">-</h6>
  </div>

  <div class="d-flex align-items-center flex-column ml-1 mr-3">
    <input class="form-control form-control pt-2 pb-2 mb-0" title="Misc Penalties">
    <small class="text-black-50 xx-small">Misc Penalties</small>
  </div>

</div>
